<!-- Declaração obrigatória para o funcionamento do framework. -->
<!Doctype html>
<html lang="en">

{{>header}}

<body>
  <form class="form-horizontal" action="/save_alimentacao/{{req.params.id}}" method="post" id="edit" card col-md-4>
    <input type="hidden" name="operation" value="update">
    <div class="container-fluid">
      <div class="row">
        <h2>HealthTrack</h2>
      </div>
      <div class="row justify-content-between">
        <section class="col-md-auto ">
          <nav aria-label="breadcrumb ">
            <ol class="breadcrumb ">
              <li class="breadcrumb-item" aria-current="page "><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page "><a href="../alimentacao">Minha alimenta&ccedil;&atilde;o</a></li>
              <li class="breadcrumb-item" aria-current="page ">Edi&ccedil&atilde;o de alimenta&cedil;&atilde;o</li>
            </ol>
          </nav>
        </section>
        <section class="col-md-7 ">
          <p class="font-weight-bold "></p>
        </section>
      </div>
      <div class="card col-md-4" style="padding: 20px;">
        <div class="form-group">
          <label for="tipo ">Tipo</label>
          <select class="form-control" name="tipo">
            {{#each tipoAlimentacao}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label for="desc ">Descri&ccedil;&atilde;o:</label>
          <input type="text" class="form-control" name="descricao" value="{{alimentacao.descricao}}">
        </div>
        <div class="form-group">
          <label for="data ">Calorias ingeridas (em kcal)</label>
          <input type="text" class="form-control" name="calorias" value="{{alimentacao.calorias}}">
        </div>
        <div class="form-group">
          <label for="data ">Data</label>
          <input type="text" class="form-control" name="data" value="{{formatDate alimentacao.data}}" </div>

          <div>
            <a href="#" role="button" class="btn btn-primary" onClick="document.getElementById('edit').submit(); ">Salvar</a>
            <a href="/alimentacao" role="button" class="btn btn-danger ">Cancelar</a>
          </div>
  </form>

  </div>

</body>

</html>